services:
  robot:
    image: marketsquare/robotframework-browser:latest
    container_name: robot_framework
    working_dir: /opt/robot
    volumes:
      - ./tests:/opt/robot/tests
      - ./results:/opt/robot/results
    environment:
      - BASE=http://ssr_next_app:3000
      - TZ=FI
      - ROBOT_HEADLESS=true
      - MOCK_EC2=true
    ports:
      - "9222:9222"
      - "8082:8082"
    depends_on:
      - app
    restart: unless-stopped
    command: >
      bash -c "
        # wait for app service on the shared network
        until curl -sSf http://app:3000/ >/dev/null; do
          echo waiting for app...
          sleep 5
        done
        rfbrowser init &&
        robot --variable BASE:$BASE --outputdir results tests
      "
    networks:
      - ssr_net
networks:
  ssr_net:
    name: ssr_next_network